.sidebar {
    left: 0;
    top: 0;
    /* flex: 0 0 200px; */
    /* flex-direction: column; */
    /* backdrop-filter: blur(30px) saturate(2); */
    /* -webkit-backdrop-filter: blur(30px) saturate(2); */
    /* padding-inline: 0; */
    padding-block: 13px;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    transition: 0.3s ease-in-out !important;
    height: 100dvh !important;
}

.sidebar a {
    margin-top: 20px;
}

.sidebar .active {
    /* border-bottom: 100px solid black; */
    font-weight: bold;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    /* border-image: url(border.png) 30% round; */
    /* border-image: url('/public/assets/images/border-bottom.png') 30% round !important; */
}

.dropdown-toggle::after {
    margin-left: 0;
}

.sidebarToggle {
    position: absolute;
    right: -15px;
    top: -20px;
    z-index: 999;
    /* background-color: var(--primary-color) !important; */
    color: #fff;
    /* border: 2px solid var(--body-gray-color); */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 15px 15px;
    text-align: center;
}
