@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.min.css';
/* @import './bootstrap-custom.css'; */

:root {
    --foreground-rgb: 0, 0, 0 !important;
    --background-start-rgb: 214, 219, 220 !important;
    --background-end-rgb: 255, 255, 255 !important;
    --gradient-top-to-bottom-left: linear-gradient(
        to bottom left,
        #f94a8b,
        #fa8971
    ) !important;
    --primary-color: #f94a8b !important;
    --secondary-color: #fa8971 !important;
    --light-gray-color: #f2f4f8 !important;
    --gray-color: #a5a5a5 !important;
    --dark-color: #202020 !important;
    --light-color: #e7e7e7 !important;
    --black-color: #000 !important;
    --white-color: #fff !important;
}

body {
    background-color: var(--light-gray-color) !important;
    /* background-image: var(--gradient-top-to-bottom-left) !important; */
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

.primary-color {
    color: var(--primary-color) !important;
}
.secondary-color {
    color: var(--secondary-color) !important;
}

.black-color {
    color: var(--black-color) !important;
}

.dark-color {
    color: var(--dark-color) !important;
}

.white-color {
    color: var(--white-color) !important;
}

.light-color {
    color: var(--light-color) !important;
}

.light-gray-color {
    color: var(--light-gray-color) !important;
}

.gray-color {
    color: var(--gray-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-gradients {
    background-image: var(--gradient-top-to-bottom-left) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.bg-light {
    background-color: #ffffff !important;
}

.bg-light-grays {
    background-color: var(--light-gray-color) !important;
}

.bg-grays {
    background-color: var(--gray-color) !important;
}

.border-primary {
    border-color: var(--primary-color) !important;
}

.border-secondary {
    border-color: var(--secondary-color) !important;
}

.border-gray {
    border-color: var(--gray-color) !important;
}

.border-light-gray {
    border-color: var(--light-gray-color) !important;
}

.border-black {
    border-color: var(--black-color) !important;
}
.border-dark {
    border-color: var(--dark-color) !important;
}
.border-white {
    border-color: var(--white-color) !important;
}
.border-light {
    border-color: var(--light-color) !important;
}

.border-gradient {
    border-image-slice: 1 !important;
    border-style: solid !important;
    border-width: 2px !important;
}

.border-gradient-color {
    border-image-source: var(--gradient-top-to-bottom-left) !important;
}

.hr-primary {
    border-top: 4px solid var(--primary-color) !important;
    opacity: 1;
}

.rounded-button {
    width: 62px;
    height: 62px;
    flex-shrink: 0;
    background-color: #3498db; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid var(--primary-color) !important;
    transition: background-color 0.3s ease;

    /* Add hover effect */
    &:hover {
        background-color: #2980b9; /* Set your desired hover color */
    }
}

.pagination {
    --bs-pagination-active-bg: var(--gradient-top-to-bottom-left) !important;
    --bs-pagination-color: #a8a8a8;
    --bs-pagination-active-border-color: none;
    --bs-pagination-border-radius: 50%;
    --bs-pagination-bg: #f2f2f2;
    text-align: center;
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-border-width: 2px;
    --bs-pagination-border-color: none;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.582);
    --bs-pagination-active-color: #fff;
    --bs-pagination-disabled-color: var(--secondary-color);
    display: flex;
    padding-left: 0;
    list-style: none;
    width: 488px;
}

.pagination .page-item {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 49.505px;
    letter-spacing: 0.413px;
}
.pagination .page-item.active {
    width: 62px;
    margin: 0 2px;
    /* height: 61px; */
    border-radius: 50% !important;
    background: linear-gradient(221deg, #f8468c 11.63%, #fa8971 92.27%), #f4f2f2 !important;
    flex-shrink: 0;
}

.dropdown-toggle::after {
    display: none !important;
}

.nav-pills .nav-link {
    color: #000 !important;
    border: 1px solid var(--primary-color) !important;
    margin: 5px;
}
.nav-pills .nav-link.active {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}
